.thumbnail-slider {
  .swiper {
    width: 100% !important;
  }
  .swiper-pagination-bullet {
    width: 9px !important;
    border-radius: 5px !important;
  }

  .swiper-pagination-bullet-active {
    background: #ea9a3e !important;
    width: 13px !important;
  }
  .swiper-button-prev,
  .swiper-button-next {
    color: #fff !important;
    transform: scale(0.5) !important;
    width: 50px !important;
    height: 80px !important;
    transition: 0.2s;
    background: rgba(102, 102, 102, 0.354) !important;
    place-items: center;
  }
  .swiper-button-prev {
    left: -13px;
  }

  .swiper-button-next {
    right: -13px;
  }
}

.tesimonials-slider {
  .swiper {
    width: 100% !important;
  }
  .swiper-pagination-bullet {
    width: 9px !important;
    border-radius: 5px !important;
  }

  .swiper-pagination-bullet-active {
    background: #ea9a3e !important;
    width: 13px !important;
  }
  .swiper-button-prev,
  .swiper-button-next {
    color: #fff !important;
    transform: scale(0.5) !important;
    width: 50px !important;
    height: 80px !important;
    transition: 0.2s;
    background: rgba(102, 102, 102, 0.354) !important;
    place-items: center;
  }
  .swiper-button-prev {
    left: -13px;
  }

  .swiper-button-next {
    right: -13px;
  }
}


.tesimonials-slider {
  .swiper {
    width: 100% !important;
  }
  .swiper-pagination-bullet {
    width: 9px !important;
    border-radius: 5px !important;
  }

  .swiper-pagination-bullet-active {
    background: #ea9a3e !important;
    width: 13px !important;
  }
  .swiper-button-prev,
  .swiper-button-next {
    color: #fff !important;
    transform: scale(0.5) !important;
    width: 50px !important;
    height: 80px !important;
    transition: 0.2s;
    background: rgba(102, 102, 102, 0.354) !important;
    place-items: center;
  }
  .swiper-button-prev {
    left: -13px;
  }

  .swiper-button-next {
    right: -13px;
  }
}
